autopep8==1.4.4
certifi==2019.3.9
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
kiwisolver==1.1.0
matplotlib==3.0.3
networkx==2.3
nltk==3.4.1
numpy==1.16.3
pycodestyle==2.5.0
pydot==1.4.1
pyparsing==2.4.0
python-dateutil==2.8.0
six==1.12.0
utilitybelt==0.2.6
